Q1. Set the variable test1 to the string 'This is a test of the emergency text system,'
and save test1 to a file named test.txt.

In [3]:
test1 = 'This is a test of the emergency text system'
with open('test.txt','w')  as file:
    file.write(test1)

Q2.Read the contents of the file test.txt into the variable test2. Is there a difference
between test 1 and test 2?

In [4]:
file = open('test.txt', 'r')
test2 = file.readline()
file.close()

if test1 == test2:
    print("There is no difference between test 1 and test 2")
else:
    print("test 1 and test 2 are different from each other")

There is no difference between test 1 and test 2

Q3.Create a CSV file called books.csv by using these lines

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [6]:
import csv

In [7]:
rows =[ ['title','author','year'],
        ['The Weirdstone of Brisingamen','Alan Garner',1960],
        ['Perdido Street Station','China Miéville',2000],
        ['Thud!','Terry Pratchett',2005],
        ['The Spellman Files','Lisa Lutz',2007],
        ['Small Gods','Terry Pratchett',1992]]

with open('books.csv','w',newline='')  as file:
    writer = csv.writer(file)
    writer.writerows(rows)
    
with open('books.csv','r',newline='')  as file:
    for line  in file.readlines():
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

Q4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [2]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

Q5.Read books.csv and insert its data into the book table.

In [3]:
import  sqlite3
import  pandas  as  pd

db = sqlite3.connect('books.db')
df = pd.read_csv('books.csv',encoding='unicode_escape')

df.to_sql('books', db, if_exists='append', index =  False)
db.commit()
db.close()

Q6.Select and print the title column from the book table in alphabetical order.

In [4]:
import  sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")

for ele  in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

Q7.From the book table, select and print all columns in the order of publication.

In [5]:
import  sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT * FROM books ORDER BY year")

for ele  in output:
    print(ele)
    
conn.commit()
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [6]:
import  sqlite3
import  pandas  as  pd
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('select * from books ORDER by year')
df = pd.DataFrame(cursor.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

Q8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [7]:
import  sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i  in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

Q9.Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [9]:
!python -m pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
     ------------------------------------- 246.2/246.2 kB 88.3 kB/s eta 0:00:00
Requirement already satisfied: typing-extensions in c:\users\admin\anaconda3\lib\site-packages (from redis) (4.3.0)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting packaging>=20.4
  Downloading packaging-21.3-py3-none-any.whl (40 kB)
     --------------------------------------- 40.8/40.8 kB 93.0 kB/s eta 0:00:00
Requirement already satisfied: importlib-metadata>=1.0 in c:\users\admin\anaconda3\lib\site-packages (from redis) (1.5.0)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\admin\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.11.2)
Requirement already satisfied: zipp>=0.5 in c:\users\admin\anaconda3\lib\site-packages (from importlib-metadata>=1.0->redis) (2.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.6)
Installing collected packages: packaging, deprecated, async-timeout, redis
  Attempting uninstall: packaging
    Found existing installation: packaging 20.1
    Uninstalling packaging-20.1:
      Successfully uninstalled packaging-20.1
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 packaging-21.3 redis-4.3.4

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 4.0.1 requires pyqt5<5.13; python_version >= "3", which is not installed.
spyder 4.0.1 requires pyqtwebengine<5.13; python_version >= "3", which is not installed.
pytest-astropy 0.8.0 requires pytest-cov>=2.0, which is not installed.
pytest-astropy 0.8.0 requires pytest-filter-subpackage>=0.1, which is not installed.
nbconvert 6.5.3 requires MarkupSafe>=2.0, but you have markupsafe 1.1.1 which is incompatible.

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

Q10.Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count',3)